extends layout

block content
  img(src= "https://placehold.co/600x400").adTest

  div
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text
    p Text