/*TODO finish CSS for every done page*/
body {
  background:#FBFEFB;
  color: #22223B;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #00B7FF;
}

.adTest {
  width: 15%;
  height: 25%;
  background: gray;
}

/*Nav Styling*/
nav{
  position: sticky;
  top: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(90deg,rgba(235, 244, 245, 1) 0%, rgba(181, 198, 224, 1) 100%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0,  0.1), 0 1px 2px -1px rgba(0, 0, 0,  0.1);
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  display: flex;
  margin: 0 ;
  list-style: none;
  padding: 0;
}

.title a{
  font-size: 20px;
  padding-left: 64px;
  text-decoration: none;
}

nav li a{
  display: block;
  padding: 20px 30px;
  color: #075985;
  font-size: 18px;
}

.nav-content{
  max-width: 1300px;
  width: 100%;
}

/*Form Styling*/
.button {
  padding: 8px 16px;
  border: 1px solid #A1A1AA;
  color: #52525B;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0,  0.05);
}
.button:hover {
  padding: 8px 16px;
  border: 1px solid #52525B;
  color: #FBFEFB;
  background: #52525B;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0,  0.05);
}

.button.primary {
  background: #9A8C98;
  color: #FBFEFB;
  border-color: #4A4E69;
}

.button.primary:hover {
  background: #4A4E69;
  color: #FBFEFB;
  border-color: #4A4E69;
}


label {
  display: block;
  color: #3F3F46;
  font-weight: bold;
  margin-bottom: 4px;
}

input, textarea {
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
}


select {
  padding: 8px;
  background: white;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.form-button-row {
  padding-top: 16px;
  margin-top: 16px;

  border-top: 1px solid #D4D4D8;
}

.form-header {
  font-size: 16px;
  color: #52525B;
  margin-bottom: 16px;
}

.input-form-row {
  display: flex;
  align-items: flex-start;
}

.input-container {
  margin-bottom: 16px;
}

.input-container.wide input {
  width: 325px;
}
.input-container.super-wide input {
  max-width: 800px;
  width: 100%;
}

.input-form-row .input-container {
  margin-right: 16px;
}

.helper-text {
  font-size: 12px;
  color: #71717A;
  margin-top: 4px
}