extends ../layout

block content
    div
        //main container
        div
            //
            div
                //header
                h1=gameListing.title
                h3.emphasize #{gameListing.developers}
